.main-container{
    background-color: aqua;
}
.title-bar {
    background-color: cadetblue;
}

/* .plans-list{
    background-color: cornflowerblue;
}
.timer-container{
    background: darkslategrey;

} */