.main-container{
    background-color: aqua;
}
.title-bar {
    background-color: cadetblue;
}

.start-button{
    background-color: cornflowerblue;
}
.timer-container{
    background: darkslategrey;

}